<img src="/images/logoback.png" id="logoback">

<div class="yada">
<h1>Yada, Yada, Yada...</h1>
<div>

<div id="content">
<%@quotes.each do |quote|%>
  <p><%=quote.rating%> - <a href="/quotes/<%=quote.id%>">"<%=quote.content%>"</a> - <%=quote.character.name%></p>
<%end%>
</div>