<form method='post' action='/signup'>

<label for='username'>Username:</label>
<input type='text' name='username' id='username'>

<label for='password'>Password:</label>
<input type='text' name='password' id='password'>

<label for='email'>Email Address:</label>
<input type='text' name='email' id='email'>

<input type='submit' value="Sign Up">
</form>