<h1>No soup for you!</h1>

<img src="/images/soup_nazi.jpg" alt="Soup Nazi" id="soup_nazi">
<p>You made a mistake. Go to the end of the line and try again.<br>
And, please, try not to anger the Soup Nazi.</p>

<a href="/signup">Sign up</a><br>
<a href="/signin">Sign in</a><br>