<img src="/images/logoback.png" id="logoback">

<div class = "headlines">
<h1>Welcome to the Seinfelder</h1>
<h3>Uncle Leo says Hel-LO!</h3>
</div>

<img src="/images/uncle_leo.png" alt="Uncle Leo" id="leo_welcome">

<div class="nav">
<a href="#">Sign up</a> or
<a href="#">Sign in</a><br>
<p><small>to an app about nothing</small></p>
</div>